.hangman-placeholders,
.letter {
    margin: 10px 20px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 30px;
    font-size: 30px;
    text-align: center;
}

.letter {
    cursor: pointer;
}

.hangman-placeholders {
    border-bottom: 2px solid black;
}

.disabled {
    cursor: no-drop;
    background-color: gray;
}

.img-container {
    display: grid;
    grid-template-columns: 500px 60px;
    align-items: center;
}

.letter-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
}

.winner-loser {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 30px;
}